html , body{
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #ECF0F1 ;
}
.page-container{
   /*min-height: 100%;*/
   /*position: relative;*/
   width: 100%;
}
.container-fluid{
    padding-left: 0 !important;
    padding-right:  0 !important;
}
nav{
    background-color: turquoise;
}
.navbar-toggler{
    background-color: white;
}
.navbar-toggler-icon{
  
}
.nav-link{
    color: black;
}
.dropbtn {
    border: none;
    padding: 8px;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}

button{
    background-color: turquoise;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.col-md-12{
	padding-left: 0 !important;
	padding-right:  0 !important;
}

.carousel-item img{
    object-fit: cover;
}
.center-content{
    margin: 80px 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 11px 3px black;
}
.loginForm{
	padding: 30px;
}
#register-btn{
    margin-top: 25px;
}
.pckg-card{
    padding: 30px;
    margin: 20px;
    background-color:turquoise;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 3px black;

}
.pckg-card p {
    margin-top: 10px;
}
.pckg-img{
    width: 100%;
    object-fit: cover;
    height: 150px;
    border-radius: 8px;
}
.book-btn{
    background-color: white;
    width: 120px;
    float: right;
}
.contact{
    padding: 20px;
    margin-bottom: 40px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.selectbox{
    width: 100%;
}
#map {
    height: 100%;
    width: 100;
}
/*Set footer into the bootom*/
footer{
    height: 250px;
    padding: 40px;
    background: black;
    width: 100%;
}
footer h5{
    color: azure;
}